extends layout

block content
    div.container-content
        h1= title
        div.index-txt
            p Welcome to the Event Planning Application
            p This application is designed to help people track their events
        img(src="img/planner.jpg", alt="Error")