doctype html
html(lang='en')
    head
        title Event manager
        link(rel='stylesheet' href='/css/style.css')
    body 
        nav.nav
            a(href='/') Event manager  
            a(href='/events') My events
        block content 