doctype html
html(lang='en')
    head
        title Event manager
        link(rel='stylesheet', href='/css/style.css')
    body 
        div.container
            nav.nav
                a(href='/') Event manager  
                a(href='/events/new') Create
                a(href='/events') My events
            block content 